body {
  background-color: #f0a434;
  text-align: center;
     }
img {
  width: 100%;
  
}
.Moto {
  width: 50%;
  
}
p {
  white-space: pre-wrap;
  text-align: justify;
  text-align: center;
  width: 30%;

  
}
