body {
  background-color: #f0a434;
  text-align: center;
  width: 100%;
  margin: 0;  
     }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; 
  background-color: #f1b03d;
}

.header{
}
.header1{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  height: 70px;
  width: 600px;
  margin: 0 auto;
}

.Baner {
  width: 100%;
  margin-top: 72px;
  }
.logo{
  width: 30%;
}

.contenedor{
 width: 980px;
  margin: 0 auto;  
}

.Moto {
  width: 100%;
  }

p {
  margin: 0;
  white-space: pre-wrap;
  text-align: justify;
  width: 100%;
  }

.texUno {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 8px;
}
.one {
  grid-column: 1 / 4;
  grid-row: 1;
}
.two {
  grid-column: 1 / 3;
  grid-row: 2 / 5;
}
.three {
  grid-column: 3 /4;
  grid-row: 2 / 5;
}

footer {
  background-color: #e19018;
     }

.logoW {
 width: 10%;
     }



@media (max-width: 980px) {

.header1{
  width: 300px;
 
}

  
.one {
  grid-column: 1 / 4;
  grid-row: 1;
}
.two {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}
.three {
  grid-column: 1 /4;
  grid-row: 4 / 5;
}
.contenedor{
 width: 100%;
  margin: 0 auto;  
}
  
  
}
