body {
  background-color: #f0a434;
  text-align: center;
     }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Asegurar que el header se superponga a otros elementos */
}

.Baner {
  width: 100%;
  }

.Moto {
  width: 100%;
  }

p {
  margin: 0;
  white-space: pre-wrap;
  text-align: justify;
  width: 100%;
  }

.texUno {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.one {
  grid-column: 1 / 4;
  grid-row: 1;
}
.two {
  grid-column: 1 / 3;
  grid-row: 2 / 5;
}
.three {
  grid-column: 3 /4;
  grid-row: 2 / 5;
}
